<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Get image by Date EA Melisa Arias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion text-center">

  <ion-content class="ion-padding text-center">
    <!--Submit by date -->
    <ion-label>Enter a date</ion-label>
    <form (ngSubmit)="onSubmit()"> <!-- evento ngSubmit para la fecha-->
      <input type="date" [(ngModel)]="selectedDate" name="date" required /><br>
      <button type="submit">Submit</button>
    </form>

    <!--Cosas img del dia-->
    <ng-container *ngIf="imageData; else loading">
      <ion-card>
        <img [src]="imageData.url" alt="NASA Image of the day">
        <ion-card-header>
          <ion-card-title>
            {{imageData.title}}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>{{imageData.explanation}}</p>
          <p> <strong>Date:</strong>{{imageData.date}}</p>
        </ion-card-content>

      </ion-card>
    </ng-container>

    <ng-template #loading>
      <ion-spinner name="crescent">
      </ion-spinner>
    </ng-template>

  </ion-content>

</ion-content>


<!--Cosas de la EA anterior-->
<!--
<ng-container *ngIf="imageData; else loading">
  <ion-card>
    <img [src]="imageData.url" alt="NASA Image of the day" />
    <ion-card-header>
      <ion-card-title>{{imageData.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{imageData.explanation}}</p>
      <p><strong>Date:</strong>{{imageData.date}}</p>
    </ion-card-content>
  </ion-card>



  <ion-label position="floating">Enter a date</ion-label>
  <ion-button (click)="onClick()">Send</ion-button>
  <ion-input placeholder="Enter a date" [(ngModel)]="date"></ion-input>
</ng-container>-->